mixin table_anime(anime)
    - const {title, rating, progress, main_picture,num_episodes } = anime
    tr(id=title)
        td
            span 
                img(src=main_picture.medium, alt="anime_image")
                h5=title
        td=rating
        td=progress +"/" + num_episodes
        td(id="button_wrapper")
            button(type="button" onclick="openDialogue(event)" id=anime.id data-title=title) edit
            button(type="button" onclick="deleteEntry(event)" id=anime.id) delete
        
mixin grid_anime(anime)
    - const {id, title, main_picture } = anime
    .grid_anime(id=id data-title=title)
        img(src=main_picture.medium, alt=title)
        div
            h5(id=id)=title
            
mixin status_table(status,entries)
    section(id=status)
        h2=status
        table
            tbody 
                tr 
                    td title
                    td rating
                    td progress
                    td options
                if entries.length > 0
                    each anime in entries 
                        +table_anime(anime)
                else
                    tr 
                        td nothing here
                    
